.pr {
   background-color: #A9C9FF;
   background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

.parent-prima {
   width: 470px;
   height: 470px;
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 0;
   /* border: 1px solid black; */
   z-index: 2;
}

.img-prima {
   position: absolute;
   width: 218px;
   height: auto;
   bottom: -2px;
   margin: auto;
   left: 0;
   right: 0;
}


.d-note-prima {
   position: absolute;
   top: 184px;
   left: 36px;
}

.g-note-prima {
   position: absolute;
   top: 280px;
   left: 36px;
}

.a-note-prima {
   position: absolute;
   top: 162px;
   right: 36px;
}

.e-note-prima {
   position: absolute;
   top: 258px;
   right: 36px;
}


@media screen and (max-width: 570px) {
   .parent-prima {
      width: 370px;
   }

   .img-prima {
      width: 196px;
   }

   .d-note-prima {
      top: 224px;
      left: 26px;
   }

   .g-note-prima {
      top: 302px;
      left: 26px;
   }

   .a-note-prima {
      top: 204px;
      right: 26px;
   }

   .e-note-prima {
      top: 282px;
      right: 26px;
   }
}

@media screen and (max-width: 370px) {
   .parent-prima {
      width: 320px;
   }

   .img-prima {
      width: 176px;
   }

   .d-note-prima {
      top: 236px;
      left: 10px;
   }

   .g-note-prima {
      top: 302px;
      left: 10px;
   }

   .a-note-prima {
      top: 236px;
      right: 10px;
   }

   .e-note-prima {
      top: 302px;
      right: 10px;
   }
}