.parent-qobyz {
   width: 570px;
   height: 510px;
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 0;
   border: 1px solid black;
   z-index: 2;
}

.img-qobyz {
   position: absolute;
   width: 328px;
   height: auto;
   bottom: -2px;
   margin: auto;
   left: 0;
   right: 0;
}


.a-note-qyl {
   position: absolute;
   top: 170px;
   right: 30px;
}

.d-note-qyl {
   position: absolute;
   top: 220px;
   left: 30px;
}


@media screen and (max-width: 570px) {
   .parent-qobyz {
      width: 370px;
   }

   .img-qobyz {
      width: 284px;

   }

   .a-note-qyl {
      top: 212px;
      right: 12px;
   }

   .d-note-qyl {
      top: 286px;
      left: unset;
      right: 12px;
   }

}

@media screen and (max-width: 370px) {
   .parent-qobyz {
      width: 320px;
      height: 510px;
   }

   .img-qobyz {
      width: 250px;

   }

   .a-note-qyl {
      top: 238px;
      right: 6px;
   }

   .d-note-qyl {
      top: 312px;
      left: unset;
      right: 6px;
   }

}