@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body {
   margin: 0;
   font-family: 'Comfortaa', cursive;
   /* background-color: #8EC5FC;
   background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

   background-color: #8BC6EC;
   background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
   
   /* top:  */
   /* background-color: #A9C9FF;
   background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
}

.dock {
   position: absolute;
   right: 1vw;
   bottom: 20vh;
}

.pr {
   background-color: #A9C9FF;
   background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

.container {
   height: 100vh;
   width: 100vw;
   display: grid;
   /* background: url('../public/waves-01.svg') no-repeat; */
   grid-template: 1fr 1.5fr / 0.5fr 2fr 0.5fr; /*  rows / columns  */
}

.waves {
   position: absolute;
   fill: white;
   left: -7px;
   width: 100vw;
   stroke: #fff;
   stroke-miterlimit: 10;
   stroke-width: 8px;
   opacity: 0.6;
}

.area {
   /* grid-column-start: 2;
   grid-column-end: 3; */
   grid-column: 2/3;
   width: 100%;
   height: 100%;


   /* background-image: linear-gradient(rgba(0, 0, 0, 0) 18%, rgb(163, 136, 231) 80%), linear-gradient(rgb(163, 136, 231) 5%, rgba(0, 0, 0, 0) 20%), linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
   background-size: 100% 100%, 100% 100%, 30px 30px, 30px 30px; */
}

.origin {
   position: absolute;
   top: 0px;
   left: calc(50% - 1px);
   width: 2px;
   bottom: 0px;
   background-color: rgb(196, 55, 4);
   height: 50%;
   z-index: 1;
}


.pointer {
   background-color: green;
   height: 50px;
   width: 6px;
   position: absolute;
   top: 25%;
   transition: all .4s;
   z-index: 4;
}


.main {
   grid-row: 2/3;
   grid-column: 2/3;
   width: 100%;
   height: 100%;
   position: relative;
   /* z-index: 6; */
   /* width: 100%;
   height:100%; */
}


.inmain {
   position: absolute;
   grid-template-rows: 48px 1fr;
   grid-template-columns: 48px 300px 48px;
   max-width: 100%;
   justify-content: center;
   /* padding-top: 5vh; */
   height: 100%;
   width: 100%;
   /* box-sizing: border-box; */
   display: grid;
   gap: 15vh 8px;  
}

/* .center {
   max-width: 100%;
   width: 100%;
   height: 100%;
} */

.center {
   display: block;
   position: relative;
   grid-row: 1 / span 3;
   max-width: 100%;
   width: 100%;
   height: 100%;
   min-height: 330px;
   margin-left: auto;
   margin-right: auto;
}


.pic {
   display: block;
   max-width: 100%;
   width: 100%;
   height: 100%;
   min-height: 330px;
   position: relative;
   object-fit: contain;
   object-position: center top;
   z-index: 2;
}

.picPrima {
   display: block;
   max-width: 100%;
   width: 100%;
   height: 100%;
   min-height: 330px;
   position: relative;
   object-fit: contain;
   object-position: center top;
   z-index: 2;
}


.numbers {
   font-size: 25px;
   position: absolute;
   top: 20px;
   right: 30px;
}



.d-note {
   all: unset;

   text-align: center;
   font-size: 25px;
   height: 70px;
   width: 70px;

   color: #fff;
   border: 2px solid #fff;
   border-radius: 50%;
   z-index: 5;
   cursor: pointer;
}



.g-note {
   all: unset;

   text-align: center;
   font-size: 25px;
   height: 70px;
   width: 70px;

   color: #fff;
   border: 2px solid #fff;
   border-radius: 50%;
   z-index: 5;
   cursor: pointer;
}

.g-note:hover {

   color: #000;
}

.d-note:hover {

   color: #000;
}
.green {
   /* background-color: green; */
   color: #000;
   background-color: #fff;
   border-color: #31d233;
   /* background-image: linear-gradient(to right, #006175 0%, #00a950 100%); */
   box-shadow: 0 0 8px 0 #31d233 inset, 0 0 8px 4px #31d233;
   /* box-shadow: 0 0 10px 4px #31d233; */
}




.theAnswer {
   background-color: #31d233;
}